<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>:root {
    --first-screen-font-color-light: #edf9e5;
    --first-screen-font-color-dark: #ffffff;
    --first-screen-icon-color-light: #e4eadc;
    --first-screen-icon-color-dark: #ffffff;
    --first-screen-header-font-color-light: #78fa22;
    --first-screen-header-font-color-dark:#ffffff;
}